{% extends 'bases/basedentista.html' %}

{% block head %}
    <title>Clinica Dental || Pacientes </title>
{% endblock %}

{% block title %}
    <h3><i class="fa fa-group"></i> Pacientes </h3>
{% endblock %}

{% load render_table from django_tables2 %}

{% block body %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10">
            <div class="panel">
                <div class="panel-body text-center">
                    <div class="row">
                        <h1>Listado de pacientes</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10">
            <div class="panel">
                <div class="panel-body text-center">
                    <div class="row">
                        {% if pacientes != None %}
                            {% render_table pacientes %}
                        {% else %}
                            <h1>No tiene pacientes registrados</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $('#tablamamalona tbody tr').each(function() {
            var customerId = $(this).find(".ID").html();
        $(this).append("<td class=\"Historial btn-sm\"><button value=\"" + customerId + "\" onclick =\"HistorialPaciente("+customerId+")\" class=\"btn btn-info\">Ver historial</></td>");
        });
    </script>
    <script>
        function HistorialPaciente(pacienteid){
            sessionStorage.setItem("paciente", pacienteid);
            window.open('/paciente_perfil')
        }
    </script>
{% endblock %}