{% extends basehtml %}
{% block head %}
{% load static %}
    <title>Clinica Dental || Usuarios</title>
{% endblock %}

{% block title %}
    <h3><i class="fa fa-group"></i> Grupos de usuarios</h3>
{% endblock %}

{% block body %}
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10">
            <div class="panel">
                <div class="panel-body text-center">
                    <div class="row">
                        <h1>Agregar Usuarios a Grupos</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <form method="post">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10">
            <div class="panel">
                <div class="panel-body text-center">
                    <div class="row">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10">
            <div class="panel">
                <div class="panel-body text-center">
                    <div class="row">
                            <button class="btn btn-info" type="submit">Agregar Usuario a Grupo</button>
                            <a href='/home' class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        function AddUserGroup(){
            usuario = $('#id_Usuarios').val()
            grupo = $('#id_Grupos').val()

            $.ajax({  //Call ajax function sending the option loaded
                url: "search_ajax/",  //This is the url of the ajax view where you make the search
                type: 'POST',
                dataType: "json",
                data: {
                    usuario: usuario,
                    grupo: grupo,
                    tag: "usergroup"
                },
                success: function (response) {
                    alert('Usuario Agregado Exitosamente')
                }
            });
        }
    </script>
{% endblock %}