{% extends basehtml %}
{% block head %}
    <title>Clinica Dental || Inicio</title>
{% endblock %}

{% block title %}
    <h3><i class="fa fa-home"></i> Inicio </h3>
{% endblock %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel">
            <div class="panel-body">
                <div class="jumbotron">
                    <h1>¡Hola {{ nombre }}!</h1>
                    <p>Bienvenido(a), esta es tu pantalla de incio, aqui encontraras tus pendientes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="panel">
                <div class="panel-body np">
                    <img src=    {% if grupo == 'Pacientes' %}
                        {% static 'img/paciente.jpg' %}
                    {% elif grupo == 'Doctores' %}
                        {% static 'img/dentist.jpg' %}
                    {% elif grupo == 'Administrador' %}
                        {% static 'img/admin.jpg' %}
                    {% endif %}
                                 alt="Cover"
                         class="img-responsive">
                    <div class="text-center">
                        <!-- panel body -->
                        <h4 class="text-lg text-overflow mar-top">{{ nombre }}</h4>
                        <p class="text-sm">{{ grupo }}</p>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"> </i> Información de usuario</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><i class="fa fa-envelope-o ph-5"></i></td>
                            <td> Email</td>
                            <td>{{ correo }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-phone ph-5"></i></td>
                            <td> Telefono</td>
                            <td> {{ celular }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-map-marker ph-5"></i></td>
                            <td> Locación</td>
                            <td> {{ ciudad }}, {{ entidad }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-home ph-5"></i></td>
                            <td> Dirección</td>
                            <td> {{ calle }}, {{ numero }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa {% if sexo == 'F' %}fa-female{% else %}fa-male{% endif %} ph-5"></i></td>
                            <td> Sexo</td>
                            <td> {{ sexo }}</td>
                        </tr>
                        {% if grupo == 'Pacientes' %}
                            <tr>
                                <td><i class="fa fa-heartbeat ph-5"></i></td>
                                <td> Tipo de sangre</td>
                                <td> {{ tipo_sangre }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-9 col-sm-8 col-xs-12">
            <div class="panel">
                <div class="panel-body pad-no">
                    <!-- Timeline -->
                    <!--===================================================-->
                    <!-- Timeline header -->
                    <div class="timeline-header">
                        <div class="timeline-header-title bg-info">Asuntos importantes</div>
                    </div>
                    <div class="timeline">
                        {% if grupo == 'Pacientes' %}
                            <!-- Proxima cita -->
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-purple"><i class="fa fa-calendar fa-lg"></i>
                                    </div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold"> Proxima cita </a>
                                    <br>
                                    <p class="text-center">Su proxima cita es en la fecha: {{ fecha }} con el
                                        Doctor {{ name_dent }} con el detalle: {{ detalle }}</p>
                                    <p></p>
                                    <div class="btn-group-justified text-center">
                                        <a href="/todas_citas" class="btn btn-danger">Ver todas mis citas</a>
                                        <a href="/nueva_cita" class="btn btn-mint">Agendar una cita nueva</a>
                                    </div>
                                </div>
                            </div>
                            <!-- quote -->
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-primary"><i class="fa fa-smile-o fa-lg"></i>
                                    </div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold"></a>
                                    <br>

                                    <i class="text-info text-center text-primary"><p>Comienza el dia con una sonrisa,
                                        verás lo
                                        divertido que es ir por ahí desentonando con todo el mundo
                                    </p>
                                        <p>- MAFALDA de Quino</p></i>
                                </div>
                            </div>
                            <!-- abonos -->
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-mint"><i class="fa fa-money fa-lg"></i>
                                    </div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold"> Abonos y pagos </a>
                                    <br>
                                    <p class="text-center">Su proximo abono es el {{ fecha_ab }} por
                                        el {{ tratamiento }} del cual se ha realizado un pago de ${{ pago }}mnx de un
                                        costo total de ${{ costo }}mnx</p>
                                    <p></p>
                                    <div class="btn-group btn-group-justified">
                                        <a href="/abonos" class="btn btn-primary">Ver abonos</a>
                                        <a href="/ver_pagos" class="btn btn-danger">Ver pagos</a>
                                    </div>
                                </div>
                            </div>
                        {% elif grupo == 'Doctores' %}
                            <!-- citas por confirmar -->
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-purple"><i class="fa fa-calendar fa-lg"></i>
                                    </div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold"> Citas por aprobar </a>
                                    <br>
                                    <p class="text-center">Usted tiene {{ cuenta }} citas sin aprobar</p>
                                    <p></p>
                                    <div class="btn-group-justified text-center">
                                        <a href="/citas_confirmar" class="btn btn-primary">Ver citas por aprobar</a>
                                        <a href="/todas_citas" class="btn btn-danger">Ver todas mis citas</a>
                                        <a href="/nueva_cita" class="btn btn-mint">Agendar una cita nueva</a>
                                    </div>
                                </div>
                            </div>
                            <!-- quote -->
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-primary"><i class="fa fa-smile-o fa-lg"></i>
                                    </div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold"></a>
                                    <br>

                                    <i class="text-info text-center text-primary"><p>Comienza el dia con una sonrisa,
                                        verás lo
                                        divertido que es ir por ahí desentonando con todo el mundo
                                    </p>
                                        <p>- MAFALDA de Quino</p></i>
                                </div>
                            </div>
                            <!-- pagos -->
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-mint"><i class="fa fa-money fa-lg"></i>
                                    </div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold"> Pagos </a>
                                    <br>
                                    <p class="text-center">Usted recibio ${{ pagos_d }}mnx esta semana.</p>
                                    <p></p>
                                    <div class="btn-group btn-group-justified">
                                        <a href="/ver_pagos" class="btn btn-danger">Ver pagos</a>
                                    </div>
                                </div>
                            </div>
                        {% elif grupo == 'Administrador' %}
                            <!-- citas por confirmar -->
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-purple"><i class="fa fa-calendar fa-lg"></i>
                                    </div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold"> Citas por aprobar </a>
                                    <br>
                                    <p class="text-center">Hay {{ cuenta }} citas sin aprobar para el consultorio</p>
                                    <p></p>
                                    <div class="btn-group-justified text-center">
                                        <a href="/citas_confirmar" class="btn btn-primary">Ver citas por aprobar</a>
                                        <a href="/todas_citas" class="btn btn-danger">Ver todas las citas</a>
                                        <a href="/nueva_cita" class="btn btn-mint">Agendar una cita nueva</a>
                                    </div>
                                </div>
                            </div>
                            <!-- quote -->
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-primary"><i class="fa fa-smile-o fa-lg"></i>
                                    </div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold"> Proxima cita </a>
                                    <br>

                                    <i class="text-info text-center text-primary"><p>Comienza el dia con una sonrisa,
                                        verás lo
                                        divertido que es ir por ahí desentonando con todo el mundo
                                    </p>
                                        <p>- MAFALDA de Quino</p></i>
                                </div>
                            </div>
                            <!-- pagos -->
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-mint"><i class="fa fa-money fa-lg"></i>
                                    </div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold"> Pagos </a>
                                    <br>
                                    <p class="text-center">Se recibieron ${{ pagos_t }}mnx esta semana en pagos.</p>
                                    <p></p>
                                    <div class="btn-group btn-group-justified">
                                        <a href="/ver_pagos" class="btn btn-danger">Ver pagos</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
            <!--===================================================-->
            <!-- End Timeline -->
        </div>
        <div class="col-md-1"></div>
    </div>
    </div>
    </div>
{% endblock %}

</html>