{% extends 'bases/main-base.html' %}
{% block mainhead %}
    <title>Clinica Dental || Registro</title>
{% endblock %}

{% block mainbody %}
    {% load static %}
    <body background={% static 'img/doctor.jpg' %}>
    <div id="container" class="cls-container">
        <div class="lock-wrapper">
            <div class="panel lock-box">
                <div class="center"><img alt="" src={% static 'img/logo.png' %}/></div>
                <div class="row">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <div class="registration"> ¿Ya tienes cuenta? <a href="/login"> <span class="text-primary"> Inicia Sesión </span>
            </a></div>
        </div>
    </div>


    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src={% static 'js/jquery-2.1.1.min.js' %}></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <!--Fast Click [ OPTIONAL ]-->
    <script src={% static 'plugins/fast-click/fastclick.min.js' %}></script>
    <!--Switchery [ OPTIONAL ]-->
    <script src={% static 'plugins/switchery/switchery.min.js' %}></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src={% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}></script>
    </body>
{% endblock %}